.button-component{
    margin: 0.2em;
padding: 0.4em;
 color: white;
 background-color: darkgray;
 border: none;
 border-radius: 5%;
 cursor: pointer;
 transition: all 200ms;
}

.button-component:hover{
    background-color: rgb(105, 105, 105);
}